{% load static %}

<header>
        <div class="logo-container">
          <img src="{% static 'image/logo.png'%}" alt="Enchanting Leaf Books">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'bookdetails-list'%}">Library</a></li>
                <li><a href="{% url 'transaction-list'%}">Transaction</a></li>
                <li><a href="{% url 'bookstore-list'%}">Book Store</a></li>
                <li><a href="{% url 'customer-list'%}">Customer</a></li>
            </ul>
        </nav>
    </header>