{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0efbe4b2b.js" crossorigin="anonymous"></script>
    <title>{% block title %} Recto Darta {% endblock %}</title>
</head>
<body>

  {%include 'includes/header.html'%}

  {% block content %}
    <div class="main-container">
      <h1>Enchanting Leaf Books</h1>
      <p>Digital Knowledge Haven</p>
    </div>

    <div class="container">

    </div>
  {% endblock %}

  {%include 'includes/footer.html'%}

</body>
</html>