{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0efbe4b2b.js" crossorigin="anonymous"></script>
    <title>{% block title %} Recto Darta | Customer {% endblock %}</title>
</head>
<body>
  {% block content %}
  
  <div class="bar-base-container">
    <a href="{% url 'customer-search' %}"><button>Search</button></a>
    <a href="{% url 'customer-add' %}"><button>Add Customer</button></a>
  </div>

  <div class="box-container">
    <table>
        <thead>
            <th>Customer Name</th>
            <th>Book - Bought</th>
            <th>Book Store</th>
            <th class="action">Action</th>
        </thead>
        {% for customer in object_list %}
        <tbody>
          <tr>
            <td>{{ customer.fullname }}</td>
            <td>{{ customer.book.title }}</td>
            <td>{{ customer.bookstore.bookstore_name }}</td>
            <td class="action">
              <a href="{{ customer.id }}"><button class="btn-update-table">Edit</button></a>
              <a href="{{ customer.id }}/delete"><button class="btn-delete-table">Delete</button></a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
    </table>
  </div>
  
  {% include 'includes/pagination.html'%}

  {% endblock %}
</body>
</html>