{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <title>{% block title %} Recto Darta | Library {% endblock %}</title>
</head>
<body>
  {% block content %}
    <div class="bar-container">
        <form method="get" action="{% url 'transaction-search' %}">
        {{ form }}
        <button type="submit">Search</button>
        </form>
    </div>
    <div class="box-container">
        <table>
            <thead>
                <th>Customer Name</th>
                <th>Payment Method</th>
                <th>Transaction Date</th>
                <th class="action">Action</th>
            </thead>
            {% if object_list %}
            {% for transaction in object_list %}
                <tbody>
                <tr>
                    <td>{{transaction.customer.fullname }}</td>
                    <td>{{ transaction.payment_method }}</td>
                    <td>{{ transaction.transaction_date }}</td>
                    <td class="action">
                        <a href="{{ transaction.id }}"><button class="btn-update-table">Edit</button></a>
                        <a href="{{ transaction.id }}/delete"><button class="btn-delete-table">Delete</button></a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
            {% else %}
            <p>No results found.</p>
            {% endif %}
        </table>
    </div>
    
    {% include '../includes/paginationsearch.html'%}
    
  {% endblock %}
  
</body>
</html>