body {
  margin: 0;
  background-color: #597E52;
}

/* Header Menu*/
header {
  background-color: #435540;
  color: #fff;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo-container img {
  width: 40%;
  height: auto;
}

header nav {
  margin-top: 10px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
  font-size: 15px;
  font-family: 'Rubik Doodle Shadow';
}

header nav a {
  background-color: #739072;
  padding: 20px 70px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5vh;
}

header nav a:hover {
  color:  #262626;
  background-color: #86A789;
}
/* End Header Menu */

/* Footer */
footer {
  background-color: #435540;
  color: #fff;
  padding: 11px;
  position: relative;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  font-family: 'Lora';
  width: 30%;
}

.copyright {
  font-family: 'Lora';
  text-align: center;
}

/* End Footer */

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin-right: 5px;
}

.page-link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #4F6F52;
  background-color: #F1E4C3;
  border-radius: 10vh;
}

.page-link:hover {
  background-color: #FFFFEC;
}

/* Adjusted selectors to accommodate classes with spaces */
.page-item.disabled {
  /* Styles for disabled pagination item */
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
}

.page-item.active {
  background-color: #F1E4C3;
  border-radius: 10vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.pagination-container {
  margin-top: -24vh;
}

div.page-container {
  width:  90vh;
  height: auto;
  background-color: #739072;
  padding: 10px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10vh;
}

/* Pagination end */

.box-container {
  width: 200vh;
  height: auto;
  background-color: #739072;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2vh;
  display: flex;
}


.main-container {
  font-size: 3vh;
  font-family: 'Rubik Doodle Shadow';
  text-align: center;
  width: 190vh;
  height: auto;
  background-color: #739072;
  padding: 10px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5vh;
}

.container {
  width: 200vh;
  height: auto;
  background-color: #739072;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2vh;
}

.book-container {
  width: 200vh;
  height: auto;
  background-color: #D2E3C8;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2vh;
}

.book {
  width: 30vh;
  height: 40vh;
  background-color: #D2E3C8;
  padding: 20px;
  margin: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2vh;
  font-family: 'Lora';
  font-size: 12px;
}

.book img {
  width: 30vh;
  height: 40vh;
}

.book-container {
    font-family: 'Lora';
    text-align: justify;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border-bottom: 1px solid #D2E3C8;
  padding: 10px;
}

.action {
  text-align: center;
}

.btn-update-table {
  font-family: 'Rubik Doodle Shadow';
  background-color: #4F6F52;
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 12px;
}

.btn-update-table:hover {
  background-color: #C6A969;
  color: #fff;
}

.btn-delete-table {
  font-family: 'Rubik Doodle Shadow';
  background-color: #597E52;
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 12px;
}

.btn-delete-table:hover {
  background-color: #F1E4C3;
  color: #000000;
}

th {
  background-color: #D2E3C8;
  text-align: center;
}

/* Table End */

/* Search ADD */
.bar-base-container {
  width: 40vh;
  height: auto;
  background-color: #4F6F52;
  padding: 25px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5vh;
  justify-content: center;
  display: flex;
  margin-right: 5vh;
}

.bar-container {
  width: 60vh;
  height: auto;
  background-color: #4F6F52;
  padding: 25px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5vh;
  justify-content: center;
  display: flex;
  margin-right: 5vh;
}

label {
  font-family: 'Lora';
  color: #ffffff;
}

input {
  background-color: #86A789;
}

button {
  background-color: #435540;
  border-radius: 5vh;
  color: #ffffff;
  padding: 5px 10px;
  margin-right: 10px;
}


.semi-container {
  width: 150vh;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  background-color: #86A789;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.semi-container p {
  font-family: 'Lora';
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}

.semi-container input {
  display: block;
  margin: 10px 67vh;
  text-align: center;
}

.semi-container a {
  display: block;
  margin: 10px 40vh;  
  text-align: center;
}

.gallery-container {  
  display: inline-block;
  padding: 1%;
  width: 20%;
  max-width: 280px;
  height: 5%;
  max-height: 90px;
  box-sizing: border-box;
}

.link-container {  
  width: 100vh;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  background-color: #86A789;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link-container input {  
  width: 100vh;
  text-align: center;
  font-family: 'Lora';
  font-weight: bold;
  border: none;
}

.btn-container {
  display: inline-flex;
  margin: 10px auto;
}


/* Form */
.form-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #86A789;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  font-family: 'Rubik Doodle Shadow';
  text-align: center;
}

.form-container button {
  display: block;
  margin: 0 auto;
}


.form-group {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #86A789;
  border-radius: 5vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-label {
  font-family: 'Lora';
  color: #000000;
  font-weight: bolder;
}

.form-control {
  display: flex;
  margin-top: 10px;
  width: 80vh;
  padding: 5px;
  background-color: #D2E3C8;
  border-radius: 5vh;
  border: none;
}

.btn-submit {
  font-family: 'Rubik Doodle Shadow';
  background-color: #4F6F52;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10vh;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: #F1E4C3;
  color: #000000;
}

.btn-update {
  font-family: 'Rubik Doodle Shadow';
  background-color: #4F6F52 ;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10vh;
  cursor: pointer;
  font-size: 16px;
}

.btn-update:hover {
  background-color: #86A789;
  color: #000000;
}

.btn-delete {
  font-family: 'Rubik Doodle Shadow';
  background-color: #BE3144;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10vh;
  cursor: pointer;
  font-size: 16px;
}

.btn-delete:hover {
  background-color: #F05941;
  color: #000000;
}